<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Confirm Page</title>

<!-- Font Icon -->
<link rel="stylesheet"
	href="fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div class="main">
		<!-- Sign up form -->
		<section class="signup">

			<div class="container">

				<div class="signup-content display-flex-center">
					<h2 class="form-title">Confirm Page</h2>

					<div class="signup-form display-flex-center confirm-special">
						<form method="POST" class="register-form" id="confirm-form"
							action="#" th:action="@{/signup-successed}">


							<div class="form-group">
								<label for="username"><i class="zmdi zmdi-lock"></i></label>
								<p>
									Username : <span th:text="${session.user.username}"> </span>
								</p>
								<input type="hidden" value="${session.user.username}" />
							</div>
							<div class="form-group">
								<label for="password"><i class="zmdi zmdi-lock"></i></label>
								<p>
									Password : <span th:text="${session.user.password}"> </span>
								</p>
								<input type="hidden" value="${session.user.password}" />
							</div>


							<div class="form-group">
								<label for="firstname"><i class="zmdi zmdi-lock"></i></label>
								<p>
									Firstname : <span th:text="${session.user.firstname}"> </span>
								</p>
								<input type="hidden" value="${session.user.firstname}" />
							</div>
							<div class="form-group">
								<label for="lastname"><i class="zmdi zmdi-lock"></i></label>
								<p>
									Lastname : <span th:text="${session.user.lastname}"> </span>
								</p>
								<input type="hidden" value="${session.user.lastname}" />
							</div>
							<div class="form-group form-button">
								<!-- <input type="submit" name="signup2" id="signup2" class="form-submit" value="go-on" /> -->
								<input type="submit" class="form-submit" name="action" value="Save"> 
								<input type="submit" class="form-submit" name="action" value="Back to SignUp">
								<input type="submit" class="form-submit" name="action" value="Back to SignUp2">
							</div>

						</form>
					</div>

				</div>
			</div>
		</section>


	</div>

	<!-- JS -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>