<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>home page</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<!-- local css -->
<!-- <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" /> -->
<style>
.lan {
	height: 100px;
	border: 3px solid black;
}

.lan>p {
	font-size: 20px;
	/* 	border: 2px solid black; */
}
</style>
</head>
<body>
    <div th:insert="common/header :: common_navbar"></div>
	<!-- navbar -->
	<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
		<div class="container">
			<a class="navbar-brand" href="/"><img src="/images/rlogo.jpg" width="40" height="40"
				alt="Home"><span class="align-middle font-weight-bold text-monospace">TechHelp</span></a>
			<button class="navbar-toggler mr-0" type="button" data-toggle="collapse"
				data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse mr-0" id="navbarsExample07">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="p-2 text-dark" href="/about">About</span></a></li>
					<li class="nav-item"><a class="p-2 text-dark" href="/contact">Contact</a></li>
					<li class="nav-item"><a class="p-2 text-dark" href="/to-do"
						sec:authorize="isAuthenticated()">Help List</a></li>
					<li class="nav-item dropdown"><a class="p-2 text-dark" href="/show"
						sec:authorize="hasRole('ROLE_ADMIN')">All data</a></li>
				</ul>
			</div>
			<div class="d-inline" sec:authorize="isAuthenticated()">
				
				<span class="navbar-text mr-2">Hi! </span> 
				<a th:href="@{/toEdit/{id}(id=${currentUser.id})}" sec:authorize="isAuthenticated()">
				    <span class="navbar-text mr-2" th:text="${currentUser.firstname}"> firstname </span> 
				    <span class="navbar-text mr-2" th:text="${currentUser.lastname}"> lastname </span>
				</a>
			</div>
			<div class="d-inline">
				<a class="nav-link d-inline" href="/logout" sec:authorize="isAuthenticated()">
					<button class="btn btn-outline-primary my-2 my-sm-0" value="Logout">Logout</button>
				</a> <a class="nav-link d-inline" href="/login" sec:authorize="isAnonymous()">
					<button class="btn btn-outline-primary my-2 my-sm-0" value="login">Login</button>
				</a> <a class="nav-link d-inline" href="/signup" sec:authorize="isAnonymous()">
					<button class="btn btn-outline-primary my-2 my-sm-0" value="Sign Up">Sign Up</button>
				</a>
			</div>
		</div>
	</nav>-->
	<div class="container text-center">
		<h2 class="mt-5">
			Welcome to <img src="/images/rlogo.jpg" width=8% height=8% alt="Home">TechHelp
		</h2>
		<div sec:authorize="isAuthenticated()" class="">
			<h4 class="mt-3">Your programming languages skills are</h4>
			<div class="row align-items-center justify-content-center my-5" th:if="${languages} == null">
				<h3>you have not edited any programming skills yet</h3>
			</div>
			<div class="row align-items-center justify-content-center my-5" th:if="${languages} != null">
				<div class="col-md-3 my-2" th:each="ln : ${languages}">
					<div
						class="lan mx-4 my-auto d-flex align-items-center justify-content-center rounded border-primary">
						<p class="text-primary text-monospace my-auto">
							<img th:attr="src=@{'/images/' + *{ln} + '.png'}" height=30%, width=30%> <a
								th:href="@{https://www.google.com/search?(q=*{ln})}" th:text="*{ln}" target="_blank"></a>
						</p>
					</div>
				</div>
			</div>
			<!-- current user prog_lan is empty -->
			<div class="row justify-content-center " th:if="${languages} != null">
				<h4>check anyone need your help ?</h4>
			</div>
		</div>
		<div sec:authorize="isAuthenticated()">This content is only shown to authenticated users.</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			This content is only shown to <span class="font-weight-bold">administrators.</span>
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
			This content is only shown to <span class="font-weight-bold">users.</span>
		</div>
		<div sec:authorize="isAuthenticated()">
			User: <span sec:authentication="name"></span> <br>
			Roles:<span  sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>