<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<!-- local css -->
<!-- Custom styles for this template -->
<link th:href="@{css/login.css}" rel="stylesheet">
<style>
/* let the placeholder text transparent*/
input:focus::-webkit-input-placeholder {
	color: transparent;
}
</style>
</head>
<body class="text-center">
	<form class="form-signin" th:action="@{/login}" method="POST">
		<a href="/"><img class="mb-4"
			src="https://seeklogo.com/images/R/rakuten-logo-A75F21521D-seeklogo.com.png" alt="" width="72"
			height="72"></a>
		<h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
		<div class="form-label-group mb-2">
			<input type="text" id="username" name="username" placeholder="Username" class="form-control" />
		</div>
		<div class="form-label-group">
			<input type="password" th:placeholder="Password" id="password" name="password"
				class="form-control" />
		</div>
		<div class="custom-control custom-checkbox mb-3">
			<input type="checkbox" class="custom-control-input" id="customCheck1"> <label
				class="custom-control-label" for="customCheck1">Remember password</label>
		</div>
		<div align="center" th:if="${param.error}">
			<p style="font-size: 20; color: #FF1C19;">Username or Password invalid, please verify</p>
		</div>
		<div align="center" th:if="${param.logout}">
			<p style="font-size: 20;">You have been logged out.</p>
		</div>
		<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
			th:text="Login"></button>
		<p class="mt-2" style="font-size: 20;">
			Or&nbsp;&nbsp;<a href="/">Register</a>
		</p>
		<p class="mt-4 mb-3 text-muted">&copy; 2018-2019</p>
	</form>
	<!-- boostrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"></script>
</body>
</html>