<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../../../favicon.ico">
<title>Checkout example for Bootstrap</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<!-- Custom styles for this template -->
<!-- Latest compiled and minified CSS -->
<style>
.container {
	max-width: 960px;
}

.lh-condensed {
	line-height: 1.25;
}
p.length-error {
	color: red;
}
.mustinput{
	color: red;
}
</style>
</head>
<body class="bg-light">
	<div class="container">
		<div class="my-3 mt-5 text-center">
			<img class="d-inline mx-auto mb-4" src="images/note.png" alt="" width="60" height="60">
			<h2 class="d-inline">User Information</h2>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-md-8 order-md-1">
				<form class="needs-validation" method="POST" novalidate th:action="@{/signup2}"
					th:object="${user}">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="firstName">First name</label> <input type="text" class="form-control"
								id="firstName" placeholder="" value="" th:field="*{firstname}">
							<div class="invalid-feedback">Valid first name is required.</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="lastName">Last name</label> <input type="text" class="form-control" id="lastName"
								placeholder="" value="" th:field="*{lastname}">
							<div class="invalid-feedback">Valid last name is required.</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3 ">
							<label for="" class="d-block">Gender</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="genderOptions" id="male" value="male"
									th:field="*{gender}"> <label class="form-check-label" for="male">Male</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="genderOptions" id="female" value="female"
									th:field="*{gender}"> <label class="form-check-label" for="female">Female</label>
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="country">Country</label> <select class="form-control" id="country" name="country"
								th:field="*{country}">
								<option value="Japan" th:selected="selected">Japan</option>
								<option value="Taiwan" th:selected="selected">Taiwan</option>
								<option value="India" th:selected="selected">India</option>
								<option value="Korea" th:selected="selected">Korea</option>
								<option value="United States" th:selected="selected">United States</option>
								<option value="United Kingdom" th:selected="selected">United Kingdom</option>
								<option value="Afghanistan" th:selected="selected">Afghanistan</option>
								<option value="Albania" th:selected="selected">Albania</option>
								<option value="Algeria" th:selected="selected">Algeria</option>
								<option value="American Samoa" th:selected="selected">American Samoa</option>
							</select>
						</div>
					</div>
					<hr class="mb-4">
					<label for="programming_language" class="d-block">Programming Language<span class="mustinput">*</span></label>
					<p class="length-error mustinput" th:if="${#fields.hasErrors('progLang')}" th:errors="*{progLang}">progLang
							Error</p>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="python" value="python"
							th:field="*{progLang}"> <label class="form-check-label" for="python">Python</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="java" value="java"
							th:field="*{progLang}"> <label class="form-check-label" for="java">Java</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="c" value="c"
							th:field="*{progLang}"> <label class="form-check-label" for="c">C</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="cplusplus" value="cplusplus"
							th:field="*{progLang}"> <label class="form-check-label" for="cplusplus">C++</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="kotlin" value="kotlin"
							th:field="*{progLang}"> <label class="form-check-label" for="kotlin">Kotlin</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="javascript" value="javascript"
							th:field="*{progLang}"> <label class="form-check-label" for="javascript">JavaScript</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="go" value="go"
							th:field="*{progLang}"> <label class="form-check-label" for="go">Go</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="other" value="other" 
							onclick="openInput()"
							aria-label="Checkbox for following text input" th:field="*{progLang}"> <label
							class="form-check-label" for="other">Other</label> <input type="text"
							class="form-control form-control-sm ml-2 other" id="oth_input"
							aria-label="Text input with checkbox"  onkeyup="changeDisabled()" disabled>
					</div>
					<hr class="mb-4">
					<div class="row text-center">
						<div class="col-md-8 text-center mx-auto">
							<button class="btn btn-primary btn-lg btn-block" type="submit" onclick="check()">Confirm</button>
						</div>
					</div>
					<h4 class="d-none" id="lanStr" th:text="${user.progLang}"></h4>
				</form>
			</div>
		</div>
		<footer class="my-3 pt-4 text-muted text-center text-small">
			<p class="mb-1">&copy; 2018-2019</p>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="/">Home</a></li>
			</ul>
		</footer>
	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script>
		$(document).ready(
			function() {
				var languages = $('#lanStr').text().split(",");
				var checkLen = languages.length;
				if (checkLen > 1) {
					var count = checkLen;
					for ( var i in languages) {
						if (document.getElementById(languages[i]) != null) {
							count--;
							document.getElementById(languages[i]).checked = true;
						}
					}
					// means the other checkbox has been check
					if (count != 0) {
						document.getElementById("other").checked = true;
						document.getElementById("oth_input").value = languages[checkLen - 1];
					}
				}
				
				if($('#oth_input').val()){
					$('#oth_input').prop('disabled', false);
				}
				
		});
	
		function openInput() {
		    var checkBox = document.getElementById("other");
		    var textInput = document.getElementById("oth_input");

		    if (checkBox.checked == true){
		    	textInput.disabled = false;
		    } else {
		    	textInput.value="";
		    	textInput.disabled = true;
		    }
		}
		
		function changeDisabled(){
			 var box = document.getElementById("other");
			 var x = document.getElementById("oth_input");
			 
			 if(!(x.value)){
			    box.checked = false;
			    x.disabled = true;
			 }
		}
		
		function check() {
			var otherCheckBox = document.getElementById("other");
			var checked = otherCheckBox.checked;
			if (checked) {
				var otherStr = document.getElementById("oth_input").value;
				otherCheckBox.value = otherStr;
			}
		}
		
		
	</script>
	<script>
		window.jQuery
				|| document
						.write(
								'<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
						(
								function() {
									'use strict';

									window
											.addEventListener(
													'load',
													function() {
														// Fetch all the forms we want to apply custom Bootstrap validation styles to
														var forms = document
																.getElementsByClassName('needs-validation');

														// Loop over them and prevent submission
														var validation = Array.prototype.filter
																.call(
																		forms,
																		function(
																				form) {
																			form
																					.addEventListener(
																							'submit',
																							function(
																									event) {
																								if (form
																										.checkValidity() === false) {
																									event
																											.preventDefault();
																									event
																											.stopPropagation();
																								}
																								form.classList
																										.add('was-validated');
																							},
																							false);
																		});
													}, false);
								})();
	</script>
</body>
</html>
