<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Confirm Page</title>

<!-- Font Icon -->
<link rel="stylesheet"
	href="fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="css/style.css">
<style>
a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
	font-size: 16px;
}

.display-flex-center {
	/* border: 1px solid black; */
	padding: 20px;
}

.form-submit {
	margin-bottom: 20px;
}

h2 {
	/* padding: 30px 40px; */
	margin-top: 30px;
}
</style>
</head>

<body>

	<div class="main">
		<!-- Sign up form -->
		<section class="signup">

			<div class="container">

				<div class="signup-content display-flex-center">
					<h2>Successed Page</h2>

				</div>
				<div class="display-flex-center">
					<a href="/show" class="form-submit"> all data</a> <a href="/"
						class="form-submit"> Home</a>
				</div>
		</section>


	</div>

	<!-- JS -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>
</body>
</html>