<!DOCTYPE html>
<html>
<head th:replace="common/header :: common_header(~{::title},~{})">
<meta charset="UTF-8">
<title>Personal TodoList</title>
<style>
.active {
	color: red;
}

.fixtb {
	height: 500px;
}

tr {
	height: 80px;
}
</style>
</head>
<body>
	<div th:insert="common/header :: common_navbar"></div>
	<div class="fixtb">
		<table class="table table-striped table-hover tb">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">ID</th>
					<th scope="col">Content</th>
					<th scope="col">Type</th>
					<th scope="col">Created Date</th>
					<th scope="col">Created By</th>
				</tr>
			</thead>
			<tbody>
				<!--  <tr th:each="todo : ${userTodo}">
					<th scope="row"><input type="checkbox"
						aria-label="done or not" th:checked="${todo.done}"></th>
					<td th:text="${todo.id}" />
					<td th:text="${todo.content}" />
					<td th:text="${todo.type}" />
					<td th:text="${todo.createdAt}" />
				</tr> -->
				
				<tr th:each="todo, iStat : ${page.content}">
					<td scope="row"><input type="checkbox" aria-label="done or not"
						th:checked="${todo.done}"></td>
					<td th:text="${todo.id}" />
					<td th:text="${todo.content}" />
					<td th:text="${todo.type}" />
					<td th:text="${todo.createdAt}" />
					<td th:text="${todo.createdBy}" />
				</tr>


			</tbody>
		</table>
	</div>
	
	
	<!-- 总数数大于3时 -->
	<div th:if="${page.totalPages gt 3}" th:remove="tag" style="">
		<div class="btn-toolbar" role="toolbar"
			aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				
				<a href="#" class="btn btn-primary btn-lg" role="button"
					aria-pressed="true" th:if="${page.hasPrevious()}"
					th:href="@{/to-do(page=${page.number-1},size=${page.size})}">Previous</a>
				
					
				<a href="#" class="btn btn-primary btn-lg" role="button"
					aria-pressed="true" th:if="${page.number+1 == page.totalPages}"
					th:href="@{${curUrl}(page=${page.number-2})}"
					th:text="${page.number-1}">when cp is final page </a> 	
					
					<a href="#" class="btn btn-primary btn-lg" role="button"
					aria-pressed="true" th:if="${page.number-1 ge 0}"
					th:href="@{${curUrl}(page=${page.number-1})}"
					th:text="${page.number}">cp-1</a> 
				
				<a href="#" class="btn btn-secondary btn-lg active" role="button"
					aria-pressed="true" th:text="${page.number+1}">Current Page</a> 
					
				<a href="#" class="btn btn-primary btn-lg" role="button"
					aria-pressed="true" th:if="${page.number+1 lt page.totalPages}"
					th:href="@{${curUrl}(page=${page.number}+1)}"
					th:text="${page.number+2}">cp+1</a>
					
				<a href="#" class="btn btn-primary btn-lg" role="button"
					aria-pressed="true" th:if="${page.number==0}"
					th:href="@{${curUrl}(page=${page.number+2})}"
					th:text="${page.number+3}">when cp is first page </a> 	
					
				<a href="#" class="btn btn-primary btn-lg" role="button"
					aria-pressed="true" th:if="${page.hasNext()}"
					th:href="@{/to-do(page=${page.number+1},size=${page.size})}">Next</a>
				<!-- 	<button type="button" class="btn btn-secondary"
					th:if="${page.number+1 lt page.totalPages}">
					<a href="#" th:href="@{${curUrl}(page=${page.number}+1)}"
						th:text="${page.number+2}"></a>
				</button> -->
				<!-- <button type="button" class="btn btn-secondary">4</button> -->
			</div>

		</div>

	</div>
	<a th:href="@{/addTodo}">add your todo</a>
	
	
	<!-- footer using thymeleaf fragment -->
	<div th:insert="~{common/footer :: footer}"></div>
	

</body>
</html>