<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<style>
.active {
	color: red;
}
</style>
</head>
<body>
<!-- 	<table border="1">
		<thead>
			<tr>
				<th th:text="ID" />
				<th th:text="Content" />
				<th th:text="CreatedBy" />
			</tr>
		</thead>
		<tbody>
			<tr th:each="todo, iStat : ${page.content}">
				<td th:text="${todo.id}" />
				<td th:text="${todo.content}" />
				<td th:text="${todo.createdBy}" />
			</tr>
		</tbody>
	</table> -->

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">ID</th>
				<th scope="col">Content</th>
				<th scope="col">CreateBy</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="todo, iStat : ${page.content}">
				<th scope="row"><input type="checkbox" aria-label="done or not" th:checked="${todo.done}" ></th>
				<td th:text="${todo.id}" />
				<td th:text="${todo.content}" />
				<td th:text="${todo.createdBy}" />
			</tr>


		</tbody>
	</table>
	<!-- <div th:if="${todoPage.totalPages > 0}" class="pagination"
    th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listTodos(size=${todoPage.size}, page=${pageNumber})}"
        th:text=${pageNumber}
        th:class="${pageNumber==todoPage.number + 1} ? active"></a>
</div> -->

	<div class="pagination-div" th:if="${(page.totalPages le 3)}">
		<span th:if="${page.hasPrevious()}"> <a
			th:href="@{/todo2(page=${page.number-1},size=${page.size})}">Previous</a>
		</span>
		<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
			<span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
			<span th:unless="${page.number == i}"> <a
				th:href="@{/todo2(page=${i},size=${page.size})}">[[${i}+1]]</a>
			</span>
		</th:block>
		<span th:if="${page.hasNext()}"> <a
			th:href="@{/todo2(page=${page.number+1},size=${page.size})}">Next</a>
		</span>
	</div>
	<hr>
	<!-- 总数数大于3时 -->
	<div th:if="${page.totalPages gt 3}" th:remove="tag" style="">
		<span th:if="${page.hasPrevious()}"> <a
			th:href="@{/todo2(page=${page.number-1},size=${page.size})}">Previous</a>
		</span>
		<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
			<span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
			<span th:unless="${page.number == i}"> <a
				th:href="@{/todo2(page=${i},size=${page.size})}">[[${i}+1]]</a>
			</span>
		</th:block>
		<span th:if="${page.hasNext()}"> <a
			th:href="@{/todo2(page=${page.number+1},size=${page.size})}">Next</a>
		</span>



		<li th:if="${page.number-1 ge 0}"><a href="#"
			th:href="@{${curUrl}(page=${page.number}-1)}"
			th:text="${page.number}"></a></li>
		<li class="active"><span class="current_page line_height"
			th:text="${page.number+1}"></span></li>
		<li th:if="${page.number+1 lt page.totalPages}"><a href="#"
			th:href="@{${curUrl}(page=${page.number}+1)}"
			th:text="${page.number+2}"></a></li>

		<h2>=== bootstrap following</h2>
		<div class="btn-toolbar" role="toolbar"
			aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<!-- 	<button type="button" class="btn btn-secondary"
					th:if="${page.number-1 ge 0}">
					<a href="#" th:href="@{${curUrl}(page=${page.number}-1)}"
						th:text="${page.number}"></a>
				</button> -->
				<a href="#" class="btn btn-primary btn-lg" role="button"
					aria-pressed="true" th:if="${page.number-1 ge 0}"
					th:href="@{${curUrl}(page=${page.number}-1)}"
					th:text="${page.number}">Primary link</a> <a href="#"
					class="btn btn-secondary btn-lg active" role="button"
					aria-pressed="true" th:text="${page.number+1}">Current Page</a> <a
					href="#" class="btn btn-primary btn-lg" role="button"
					aria-pressed="true" th:if="${page.number+1 lt page.totalPages}"
					th:href="@{${curUrl}(page=${page.number}+1)}"
					th:text="${page.number+2}">Primary link</a>
				<!-- 	<button type="button" class="btn btn-secondary"
					th:if="${page.number+1 lt page.totalPages}">
					<a href="#" th:href="@{${curUrl}(page=${page.number}+1)}"
						th:text="${page.number+2}"></a>
				</button> -->
				<!-- <button type="button" class="btn btn-secondary">4</button> -->
			</div>

		</div>

	</div>



</body>
</html>